/* ----------------- variables ---------------------- */
@font-face {
  font-family: 'Roboto-Bold';
  src: url("/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

:root {
  --primary: hsl(4, 100%, 67%);
  --dark-slate: hsl(235, 18%, 26%);
  --grey: Grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --regular: 'Roboto-Regular', sans-serif;
  --bold: 'Roboto-Bold',sans-serif;
}

body {
  background-color: rgb(56, 56, 56);
}

/* ---------------- fonts ------------------- */

h1 {
  font-size: calc((2rem) + 1.3vw);
  margin: 2rem 0;
}

h2 {
  font-size: 0.75rem;
}

h1, h2 {
  font-family: var(--bold);
}

li, p {
  font-family: var(--regular);
  font-size: 1rem;
  line-height: 1.5;
}

/* -------------------- form ----------------------------------- */

form {
  background-color: var(--white);
  height: 100%;
}



/* ----------------------------- content elements -------------------- */

ul {
  margin: 2rem 0 2rem;
}

ul li {
  margin-bottom: 0.75rem; /* Adjust spacing between list items */
  display: flex;
  align-items: flex-start; /* Align items at the top of the flex container */
}

ul li::before {
  content: url('/assets/images/icon-list.svg'); /* Path to your SVG icon */
  width: 20px; /* Adjust icon width */
  height: auto;
  margin-right: 1.125rem; /* Adjust spacing between icon and text */
}

input {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--regular);
}

button {
  background-color: var(--dark-slate);
  color: var(--white);
  font-family: var(--bold);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

button:hover {
  cursor: pointer;
}

.label-error {
  display: flex;
  justify-content: space-between;
}

/* --------------------- Alignments ------------------------ */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5% 0 5%;
}

.subscribe {
  text-wrap: nowrap;
}
/* --------------------- Breakpoints ------------------------ */

@media only screen and (min-width: 320px) {
  #mobile-img {
    display: block;
    width: 100%;
  }

  #desktop-img {
    display: none;
  }

  .content {
    min-height: 100%;
    margin: 0;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%
  }

  body {
    background-color: white;
  }
}

@media only screen and (460px < width < 761px) {
  #mobile-img {
    display: none;
  }

  #desktop-img {
    display: block;
    max-height: 100%;
    margin: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
  }

  input {
    padding: 3px 6px;
  }

  button {
    padding: 3px 6px;
  }

  body {
    background-color: rgb(56, 56, 56);
  }

  h1 {
    font-size: 1rem;
    margin: 1rem 0 1rem;
  }

  li {
    margin: 0.25rem 0 0.25rem;
  }

  ul {
    margin: 0.25rem 0 0.25rem;
  }

  .input-fields {
    margin-bottom: 5%;
  }

}

@media only screen and (760px < width < 1250px) {
  #mobile-img {
    display: none;
  }

  #desktop-img {
    display: block;
    max-height: 100%;
    margin: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
  }

  input {
    padding: 6px 12px;
  }

  button {
    padding: 6px 12px;
  }

  body {
    background-color: rgb(56, 56, 56);
  }

  h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem;
  }

  li {
    margin: 0.25rem 0 0.25rem;
  }

  ul {
    margin: 0.25rem 0 0.25rem;
  }

}

@media only screen and (min-width: 1250px) {
  #mobile-img {
    display: none;
  }

  form{
    height: 600px;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 16px;
    margin: 0 auto;
  }

  #desktop-img {
    display: block;
    max-height: 100%;
    margin: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
  }

  h1 {
    margin: 0;
  }

  body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure body takes full viewport height */
    margin: 0; /* Remove default margin */
    background-color: rgb(56, 56, 56); /* Ensure background color covers full viewport */
  }
}

/* -------------- success ------------------- */

.success {
  display: flex;
  flex-direction: column;
  padding: 0 7%;
  height: 100vh;
}

.success img {
  max-width: 18%;
  margin-top: 40%;
}

.success h1 {
  font-size: calc((2.25rem) + 1.3vw);
  margin-top: 12%;
  margin-bottom: 0;
  padding: 0;
}

.success p {
  margin-top: 8%;
}

.success p span{
  font-weight: 900;
}

#dismiss {
  margin-top: auto;
  margin-bottom: 12%;
}

#dismiss:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(233, 28, 28), rgb(255, 72, 0));
}

.hide {
  display: none;
}

/* ----------- media queries success --------------- */

/* ---phone landscape--- */

@media only screen and (max-width: 915px) and (orientation: landscape) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .success {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 7%;
    height: 100vh;
    background-color: white;
  }

  .success img {
    max-width: 12%;
    margin-right: 30%;
    margin-top: 4%;
    flex-basis: 100%;
  }

  .success h1 {
    font-size: calc((2.25rem) + 1.3vw);
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
  }

  .success p {
    margin-top: 2%;
  }

  .success p span{
    font-weight: 900;
  }

  #dismiss {
    margin-top: auto;
    margin-bottom: 4%;
    padding: 12px 24px;
  }

  #dismiss:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(233, 28, 28), rgb(255, 72, 0));
  }

  .hide {
    display: none;
  }
}

/* ---iPad--- */

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .success {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 7%;
    height: 90vh;
    aspect-ratio: 1 / 1;
    background-color: white;
  }

  .success img {
    max-width: 12%;
    margin-right: 30%;
    margin-top: 4%;
    flex-basis: 100%;
  }

  .success h1 {
    font-size: calc((2.25rem) + 1.3vw);
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
  }

  .success p {
    margin-top: 2%;
  }

  .success p span{
    font-weight: 900;
  }

  #dismiss {
    margin-top: auto;
    margin-bottom: 4%;
    padding: 12px 24px;
  }

  #dismiss:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(233, 28, 28), rgb(255, 72, 0));
  }

  .hide {
    display: none;
  }
}
